
body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: 300;
    color: #888;
    }

strong { font-weight: 500; }

a, a:hover, a:focus {
    color: #ff391f; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

/*h1, h2 { margin-top: 10px; font-family: 'Raleway', sans-serif; font-size: 48px; font-weight: 300; color: #555; line-height: 56px; }*/
h3 { font-family: 'Montserrat', sans-serif; font-size: 32px; font-weight: 300; line-height: 40px; }

img { max-width: 100%; }



/***** Top menu *****/
.navbar {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: .2rem;
    background: #fff;
    color: #9d9d9d;
    border: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0, .5);
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.navbar-no-bg {
    padding-top: 10px;
    background: none;
}
.navbar-brand{
    padding-top: 0px;
}

ul.navbar-nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
}

.navbar-brand {
    width: 189px;
    background: url("../img/logo2.png") left center no-repeat;
    height: 44px;
}

ul.navbar-nav li a { color: #32393e; border: 0; padding-top: 1.2rem}
ul.navbar-nav li a:hover { color: #A9A9A9; border: 0; }
ul.navbar-nav li a:focus { color: #A9A9A9; outline: 0; border: 0; }


.navbar-no-bg ul.navbar-nav li a { color: #fff; border: 0; padding-top: 1.2rem}
.navbar-no-bg ul.navbar-nav li a:hover { color: #ddd; border: 0; }
.navbar-no-bg ul.navbar-nav li a:focus { color: #ddd; outline: 0; border: 0; }


.mobile {
    background-color: rgba(0,0,0, .9);
    }
.mobile ul.navbar-nav li a { color: #fff; border: 0; padding-top: 1.2rem}
.mobile ul.navbar-nav li a:hover { color: #A9A9A9; border: 0; }
.mobile ul.navbar-nav li a:focus { color: #A9A9A9; outline: 0; border: 0; }
.mobile .navbar-brand {
    width: 189px;
    background: url("../img/logo2.png") left center no-repeat ;
    height: 44px;
}
.mobile .sticky .navbar-brand {
    width: 189px;
    background: url("../img/logo2.png") left center no-repeat ;
    height: 44px;
}

ul.navbar-nav li a.btn-link-3 {
    display: inline-block;
    margin: 9px 0 0 15px;
    padding: 10px 6px 6px 6px;
    background: red;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
ul.navbar-nav li a.btn-link-4 {
    display: inline-block;
    margin: 9px 0 0 15px;
    padding: 10px 6px 6px 6px ;
    background: #f16334;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    opacity: 1;
    text-transform: uppercase;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
ul.navbar-nav li a.btn-link-3:hover,
ul.navbar-nav li a.btn-link-3:focus,
ul.navbar-nav li a.btn-link-3:active,
ul.navbar-nav li a.btn-link-3:active:focus { outline: 0; opacity: 0.8; color: #fff; }
ul.navbar-nav li a.btn-link-4:hover,
ul.navbar-nav li a.btn-link-4:focus,
ul.navbar-nav li a.btn-link-4:active,
ul.navbar-nav li a.btn-link-4:active:focus { outline: 0; opacity: 0.8; color: #f0ad4e;}



.navbar-toggler {
    margin-top: 0.4rem;
}
.navbar-toggler-icon {
    background-color: white;
    border: 1px solid #32393e ;
    color: #32393e;
    border-radius: 6px;
    padding: 3px;
}

.sticky {}

.sticky .navbar-brand {
    width: 189px;
    background: url("../img/logo2a.png") left center no-repeat;
    height: 44px;
}

/***** MEDIA QUERIES *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar>.container {
        max-width: 100%;
        padding-left: 0;
    }
}
@media (max-width: 767px) {}

@media (max-width: 415px) {}




/***** Top content *****/
.top-content {
    background-image: url("../img/front.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
    margin: auto;
}
.top-content .box {
    padding-top: 200px;
    padding-bottom: 50px;
    margin: 0 auto;
    }

.top-content .box .card {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(255,255,255, .9);
}
.top-content .box .card h3{
    margin: 0 auto;
    padding-bottom: 15px;
}
.row .col-md-4 .form-group, .row .col-md-4 .form-group select  {
   font-size: 0.9rem;
}
.row .col-md-4 .form-group label {
    margin-bottom: 0;

}
.adv-search a {
    float: right;
    font-size: 0.8rem;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .top-content {
        height: 530px;
    }
    .top-content .box {
        padding-top: 90px;
    }
    .adv-search a {
        padding-top: 15px;
        float: right;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}


/***** Features *****/

.features-box {
    padding-top: 30px;
    text-align: left; }
.features-box h3 {
    border-bottom: 3px solid #ff391f ;
    border-bottom-right-radius: 15px;
    padding: 8px;
    display: inline-block;
}

/***** Features *****/

.features-box-red {
    padding-top: 30px;
    text-align: left;
    background-color: #ff391f;
    height: 500px;
    color: white;
}
.features-box-red .container h3 {
    color: white;
    border-bottom: 3px solid white ;
    border-bottom-right-radius: 15px;
    padding: 8px;
    display: inline-block;
}
.features-box-red .container p {
    font-family: 'Montserrat', sans-serif;
}
