
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
//Post
.post-image-position {
  float: left;
  margin-right: 10px;
}
.post-image-style {
  max-width: 140px;
  height: auto;
}



// Login
.clear {
  clear: both;
  margin-bottom: 20px;
}
.content {
  padding-top: 100px;
}


// /Login